*,html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background: url(img/pattern.png);
    flex-direction: column; 
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 1rem;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title img {
    width: 15rem;
}

.title h1 {
    font-weight: 400;
    font-size: 1rem;
    border: .2rem solid white;
    background-color: antiquewhite;
    padding: .2rem;
    border-radius: 1rem;
    
}

.title h1 span {
    color: orange;
    font-weight: 700;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 1rem;
    border: .2rem solid black;
    border-radius: 2rem;
    transition: all .3s;
    color: #ffa500;
    text-decoration: none;
}

.game:hover {   
    box-shadow: .2rem .2rem .2rem white;
    transition: .3s;
    transform: scale(1.05);
}

.game img {
    border-radius: 1.8rem;
    width: 25rem;
}

.game-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

small a {
    background-color: orange;
    text-decoration: none;
    border: .1rem solid black;
    padding: .1rem;
    border-radius: .5rem;
    color: black;
    font-size: .5rem;
    transition: all .3s;
}

small a:hover {
    box-shadow: .1rem .1rem .1rem white;
    transition: all .3s;
}

a {
    text-decoration: none;
}

.back {
    margin-top: 2rem;
    background-color: bisque;
    border: .2rem solid white;
    box-shadow: .2rem .2rem .2rem black;
    color: black;
    padding: .3rem;
    border-radius: .6rem;
    transition: all .3s;
}

.back:hover {
    transform: scale(1.03);
    transition: all .3s;
    box-shadow: .25rem .25rem .25rem white;
}

.back span {
    color: orange;
    text-shadow: 1px 1px 1px black;
}


/* Mobile */
@media (max-width: 450px) {
    .title img {
        width: 13rem;
    }
    .game img {
        border-radius: 1.8rem;
        width: 20rem;
    }
    small a {
        background-color: orange;
        text-decoration: none;
        border: .1rem solid black;
        padding: .1rem;
        border-radius: .5rem;
        color: white;
        font-size: .4rem;
    }
}
