*,html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background: url(img/pattern.png);
    flex-direction: column; 
    align-items: center;
    padding: 0 1rem;
}

.title {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.title img {
    width: 15rem;
}

.title small {
    font-weight: 400;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 1rem;
    border: .2rem solid black;
    border-radius: 2rem;
    transition: all .3s;
    color: #ffa500;
    text-decoration: none;
}

.game:hover {   
    box-shadow: .2rem .2rem .2rem white;
    transition: .3s;
    transform: scale(1.05);
}

.game img {
    border-radius: 1.8rem;
    width: 25rem;
}
