:root {
  box-sizing: border-box;
}

html,
body,
* {
  margin: 0;
  font-family: 'Black Ops One', sans-serif;
  color: white;
  text-shadow: 
  -.1rem -.1rem .1rem #000,  
  .1rem -.1rem .1rem #000,  
 -.1rem .1rem .1rem #000,  
 .1rem .1rem .1rem #000;
 scroll-behavior: smooth;
}

body {
  background-image: url(../Logos/bg-tutingtas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: 1rem;
}

body a {
  color: black;
  position: absolute;
  top: 5%;
  left: 1%;
}

body a h2 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: .2rem; 
  background-color: bisque; 
  border: .2rem solid rgb(104, 60, 2); 
  padding: .3rem;
}

body a h2:hover {
  background-color: burlywood;
}

#app {
  margin-top: 2rem;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border: .2rem solid rgb(104, 60, 2);
  width: 20rem;
  height: 20rem;
  text-align: center;
  background-color: bisque;
}

.summary .title {
  background-color: bisque;
}

.summary .result {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

.summary h3 {
  background-color: rgb(255, 255, 255);
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.option {
  width: 30%;
  margin: 10px 15px;
  padding: 25px;
  text-align: center;
  font-size: 2rem;
  background-color: bisque;
  border: .2rem solid rgb(104, 60, 2);
}

.option:hover {
  cursor: pointer;
  background-color: burlywood;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
}

.hasil {
  background-color: rgb(255, 255, 255);
  border: .2rem solid rgb(104, 60, 2);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

footer h1 {
  font-size: 1rem;
}

footer img {
  width: 7rem;
}

/* Media Querries */
@media (max-width: 765px) {
  .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: .2rem solid rgb(104, 60, 2);
    width: 15rem;
    height: 15rem;
    text-align: center;
    background-color: bisque;
  }

  .option {
    width: 30%;
    margin: 10px 15px;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    background-color: bisque;
    border: .2rem solid rgb(104, 60, 2);
  }

  body a h2 {
    font-size: .7rem;
  }
}

@media (max-width: 450px) {
  .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: .2rem solid rgb(104, 60, 2);
    width: 15rem;
    height: 15rem;
    text-align: center;
    background-color: bisque;
  }

  .option {
    width: 30%;
    margin: 10px 15px;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    background-color: bisque;
    border: .2rem solid rgb(104, 60, 2);
  }
}

@media (max-width: 350px) {
  .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: .2rem solid rgb(104, 60, 2);
    width: 15rem;
    height: 15rem;
    text-align: center;
    background-color: bisque;
  }

  .option {
    width: 30%;
    margin: 10px 15px;
    padding: 15px;
    text-align: center;
    background-color: bisque;
    border: .2rem solid rgb(104, 60, 2);
  }
}
